config
config.R
config.py
config.pyc
*.csv
*.csv.tmp
application_usage-*.xlsx
no_rename-*.xlsx
*.Rdata
*.png
queue_firstrun.*.stdout
tmp.*
*.stdout
*.stderr
archive
system-utilisation
dgx
load2apps
config~
R-stats-trending
checked
am
